*{margin: 0; padding: 0; box-sizing: border-box; text-decoration: none; font-family: 'Times New Roman', Times, serif;}

#nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.logo{
    width: 150px;
    height: 10vh;
    margin-left: 20px;
}


#nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 0px;
}

#nav ul li{
    letter-spacing: 3px;
    margin-left: 32px;
    padding-bottom: 10px;
    padding-top: 10px; 
}

#nav a{
    color: white;
}

#nav ul li a:hover{
    color: rgb(255, 140, 0);
    font-weight: 500;
    
}

#login a{
    border: 2px solid rgb(255, 140, 0);
    border-radius: 8px;
    background-color: rgb(255, 140, 0);
    padding:9px ;
    
}

#login a:hover{
    background-color: black;
    color: rgb(255, 140, 0); 
    cursor: pointer;
}

/* Fim Nav Bar */

body{
    position: relative;
    background-image: url(img/preto-fosco.jpg); 
    background-size: cover;
    background-position: center;
}

.alert {
    width: 300px;
    position: absolute;
    top: 590px;
    left: 529px;
}

#nav ul {
    list-style: none;

}

.form-cadusuario{
    color: whitesmoke;
    width: 300px;
    height: 75vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 38%;
    top: 100px;
}

