*{margin: 0; padding: 0; box-sizing: border-box; text-decoration: none; font-family: 'Times New Roman', Times, serif;}


#nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    border-bottom: 1px dashed rgb(255, 140, 0);
}

.logo{
    width: 150px;
    height: 10vh;
    margin-bottom: 4px;
}


body{
    position: relative;
    background-color: gray;
}

#nav ul{
    list-style: none;
    display: flex;
    margin-left: 700px;
}

#nav ul li{
    letter-spacing: 3px;
    margin-left: 32px;
    padding-top: 15px; 
}

#nav a{
    color: white;
}

#nav ul li a:hover{
    color:  rgb(255, 140, 0);
    font-weight: 500;  
}

#logout a{
    border: 2px solid  rgb(255, 140, 0);
    border-radius: 8px;
    background-color:  rgb(255, 140, 0);
    padding:8px ;
}

#logout a:hover{
    background-color: black;
    color:  rgb(255, 140, 0); 
    cursor: pointer;

}

/* Fim Nav Bar */


/* barra lateral */

.pagina-sistema{
    position: relative;
}

.barraLateral{
    width: 250px;
    height: 90vh;
    position: absolute;
    background-color: black;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: none;
    margin-top: 0px;
}

.barraLateral input{
    width: 248px;
    height: 60px;
    border-top: none ;
    color: whitesmoke;
    background-color: rgb(255, 140, 0);
    cursor: pointer;
    border: none;
    border-radius: 30px;
    margin-top: 45px;
    margin-bottom: -20px;
}

/* fim da barra lateral */
 
.conteudo{
    color: white;
    position: absolute;
    top: 190%;
    left: 37%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 20px;
    width: 50%;
} 

fieldset{
    border: 2px solid rgb(255, 140, 0);
}

legend{
    border: 1px solid rgba(128, 128, 128, 0.5);
    text-align: center;
    background-color: rgba(128, 128, 128, 0.5);
    height: 36px;
    width: 30%;
    border-radius: 20px;
}

.inputBox{
    position: relative;
    padding-inline: 1%;
}

.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
    padding-left: 1%;
}

#dataNascimento{
    border: none;
    padding: 8px;
    border-radius: 20px;
    outline: none;
    font-size: 15px;
}

button{
    background-image: linear-gradient(to right,rgba(128, 128, 128, 0.5), rgba(128, 128, 128, 0.5));
    width: 80px;
    border: none;
    padding: 4px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 20px;
    height: 30px;
    margin-bottom: 20px;
}

button:hover{
    background-image: linear-gradient(to right,rgba(15, 15, 220, 0.573), rgba(15, 15, 220, 0.573));
}

#bnt-ExcluirConta{
    background-image: linear-gradient(to right,rgba(128, 128, 128, 0.5), rgba(128, 128, 128, 0.5));
    width: 100px;
    border: none;
    padding: 4px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 20px;
    height: 30px;
    margin-bottom: 20px;
    position: absolute;
    right: 30px;
    bottom: 19px;
}

#bnt-ExcluirConta:hover{
    background-image: linear-gradient(to right,rgba(15, 15, 220, 0.573), rgba(15, 15, 220, 0.573));
}