*{margin: 0; padding: 0; box-sizing: border-box; text-decoration: none; font-family: 'Times New Roman', Times, serif;}

#nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    border-bottom: 1px dashed rgb(255, 140, 0);
}

.logo{
    width: 150px;
    height: 10vh;
}

body{
    position: relative;
    background-color: black;
}

#nav ul{
    list-style: none;
    display: flex;
    margin-left: 700px;
}

#nav ul li{
    letter-spacing: 3px;
    margin-left: 32px;
    padding-bottom: 10px;
    padding-top: 10px; 
}

#nav a{
    color: white;
}

#nav ul li a:hover{
    color: rgb(255, 140, 0);
    font-weight: 500;
}

#logout{
    border: 2px solid rgb(255, 140, 0);
    border-radius: 8px;
    background-color: rgb(255, 140, 0);
    padding-left:8px ;
    padding-right:8px ;
    
}

#logout:hover{
    background-color: black;
    color: rgb(255, 140, 0); 
    cursor: pointer;
}

/* Fim da Nav Bar */

.pagina-sistema{
    position: relative;
}

.barraLateral{
    width: 250px;
    height: 90vh;
    position: absolute;
    background-color: black;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: none;
    margin-top: 0px;
}

.barraLateral input{
    width: 248px;
    height: 60px;
    border-top: none ;
    color: whitesmoke;
    background-color: rgb(255, 140, 0);
    cursor: pointer;
    border: none;
    border-radius: 30px;
    margin-top: 45px;
    margin-bottom: -20px;
}

#conteudo{
    color: white;
    width: 1112px;
    height: 550px;
    position: absolute;
    left: 251px;
}

#conteudo h1{
    position: absolute;
    top: 20px;
    left: 50px;
}

.sessaoImoveis{
    width: 100%;
    margin-top: 170px;
    display: flex;
    flex-flow: row wrap;  
}

.imoveis-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.imovel{
    width: 300px;
    border: 1px dashed rgb(255, 140, 0);
    height: 285px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}


.bnt-ver{
    position: absolute;
    right: 80px;
    top: 245px;
    color: whitesmoke;
}

.bnt-ver a{
    position: absolute;
    right: 20px;
    color: whitesmoke;
    background-color: rgb(255, 140, 0);
    border-radius: 8px;
    width: 100px;
    padding: 6px;
}


.fotos{
    width: 260px;
    height: 260px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.fotos img {
    width: 180px;
    height: 180px;
    margin: 15px;
}

.fotos h2 {
    font-size: 19px;
    color: whitesmoke; 
    margin-top: 10px;  
}
.fotos h2::first-letter {
    text-transform: uppercase;
}
